In [1]:
import pydeck as pdk
import pandas as pd

In [2]:
data = pd.read_csv('../US_Accidents_Dec21_updated.csv')

In [37]:
data[data.isna()]

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2845338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2845339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2845340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2845341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [49]:
pd.DatetimeIndex(data.head()['Start_Time']).year

Int64Index([2016, 2016, 2016, 2016, 2016], dtype='int64', name='Start_Time')

In [7]:
data.groupby('City').agg(
        Name=('City', 'last'),
        Count=('Severity', 'count'),
        Avg_Severity=('Severity', 'mean'),
        City=('City', 'last')
    ).sort_values(by='Count', ascending=False)

                              Name   Count  Avg_Severity              City
City
Miami                        Miami  106966      2.051297             Miami
Los Angeles            Los Angeles   68956      2.050206       Los Angeles
Orlando                    Orlando   54691      2.043791           Orlando
Dallas                      Dallas   41979      2.168942            Dallas
Houston                    Houston   39448      2.191898           Houston
...                            ...     ...           ...               ...
Prospect Hill        Prospect Hill       1      4.000000     Prospect Hill
Brooklyn Heights  Brooklyn Heights       1      3.000000  Brooklyn Heights
Prosper                    Prosper       1      3.000000           Prosper
Proviso                    Proviso       1      3.000000           Proviso
Dacono                      Dacono       1      2.000000            Dacono

[11681 rows x 4 columns]

In [41]:
tmp_df = data.groupby('County').agg(
        Count=('Severity', 'count'),
        Avg_Severity=('Severity', 'mean'),
        County=('County', 'last')
    ).sort_values(by='Count', ascending=False)
tmp_df[tmp_df['County'].isna()]
# tmp_df

Empty DataFrame
Columns: [Count, Avg_Severity, County]
Index: []

In [29]:
data['Severity'].value_counts()

2    2532991
3     155105
4     131193
1      26053
Name: Severity, dtype: int64