In [2]:
import pydeck as pdk
import pandas as pd

In [9]:
data = pd.read_csv('../US_Accidents_Dec21_updated.csv')

In [ ]:
data.head()

In [11]:
data.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [30]:
data['State'].value_counts()

CA    795868
FL    401388
TX    149037
OR    126341
VA    113535
NY    108049
PA     99975
MN     97185
NC     91362
SC     89216
MD     65085
AZ     56504
NJ     52902
TN     52613
UT     49193
LA     47232
IL     47105
MI     43843
GA     40086
WA     32554
CT     29762
MO     29633
CO     25340
OH     24409
IN     20850
AL     19322
MT     15964
AR     10935
IA      9607
DC      9133
KS      9033
OK      8806
ID      8544
WI      7896
WV      7632
KY      6638
MA      6392
NV      6197
MS      5320
DE      4842
RI      4451
NH      3866
NE      3320
NM      2370
ND      2258
ME      2193
WY       990
VT       365
SD       201
Name: State, dtype: int64

In [34]:
data.groupby('City').agg(
        Count=('Severity', 'count'),
        Avg_Severity=('Severity', 'mean'),
        City=('City', 'last')
    ).sort_values(by='Count', ascending=False)

                   Count  Avg_Severity              City
City
Miami             106966      2.051297             Miami
Los Angeles        68956      2.050206       Los Angeles
Orlando            54691      2.043791           Orlando
Dallas             41979      2.168942            Dallas
Houston            39448      2.191898           Houston
...                  ...           ...               ...
Prospect Hill          1      4.000000     Prospect Hill
Brooklyn Heights       1      3.000000  Brooklyn Heights
Prosper                1      3.000000           Prosper
Proviso                1      3.000000           Proviso
Dacono                 1      2.000000            Dacono

[11681 rows x 3 columns]

In [29]:
data['Severity'].value_counts()

2    2532991
3     155105
4     131193
1      26053
Name: Severity, dtype: int64